

body{
    background-image: url(../img/africanchildren.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Sida1{
    height: 118em;
    width: 120em;
    margin-left: -60em;
    position: relative;
    left: 50%;
}

#text1{
    border-radius: 2px;
    border-style: solid;
    border-color: royalblue;
    width: 48em;
    height: 500px;
    background-color: rgb(255, 165, 0, 0.9);;
    z-index: -1;
    color: royalblue;
    padding: 10px;
    position: relative;
    left: 66em;
    top: 2em;
}

#text2{
    position: relative;
    border-radius: 2px;
    border-style: solid;
    border-color: royalblue;
    width: 60em;
    height: 495px;
    background-color: rgb(255, 165, 0, 0.9);;
    z-index: -1;
    color: royalblue;
    padding: 10px;
    top: 6em;
    left: 2em;
}

#text3{
    position: relative;
    border-radius: 2px;
    border-style: solid;
    border-color: royalblue;
    width: 84em;
    height: 29em;
    background-color: rgb(255, 165, 0, 0.9);;
    z-index: -1;
    color: royalblue;
    padding: 10px;
    top: 8em;
    left: 2em;
}

#im1{
    position: relative;
    height: 500px;
    border-radius: 2px;
    border-style: solid;
    border-color: royalblue;
    z-index: -1;
    left: 2em;
    top: -93em;
    
}

#im2{
    position: relative;
    height: 495px;
    width: 670px;
    border-radius: 2px;
    border-style: solid;
    border-color: royalblue;
    z-index: -1;
    top: -58em;
    left: 22em;
}

#im3{
    position: relative;
    height: 490px;
    width: 340px;
    border-radius: 2px;
    border-style: solid;
    border-color: royalblue;
    z-index: -1;
    top: -23em;
    left: 0em;
}


.intx1{
    padding-left: 10px;
}
.intx2{
    
}
