

body{
    background-image: url(../img/africanchildren.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#text1{
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
    width: 40vw;
    height: 55vh;
    background-color: royalblue;
    margin-left: 1000px;
    margin-top: 50px;
}

#text2{
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
    width: 50vw;
    height: 53vh;
    background-color: royalblue;
    margin-top: 50px;
    margin-left: 70px
}

#text3{
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
    width: 70vw;
    height: 53vh;
    background-color: royalblue;
    margin-top: 50px;
    margin-left: 70px
}

#im1{
    position: absolute;
    margin-top: -1620px;
    margin-left: 73px;
    height: 500px;
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
}

#im2{
    position: absolute;
    margin-top: -1052px;
    margin-left: 1100px;
    height: 495px;
    width: 670px;
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
}

#im3{
    position: absolute;
    margin-top: -500px;
    margin-left: 1440px;
    height: 490px;
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
}


.intx1{
    padding-left: 10px;
}
.intx2{
    
}
