*{
    margin: 0;
    padding: 0;
}

#Sida{
    height: 100vh;
}

#Sida1{
    height: 118em;
    width: 100%;
}

#Bottom{
    border-top: solid 4px black;
    margin-top: 20px;
    width: 100ww;
    background-color: floralwhite;
    height: 10em;
    display: block;
}

#TM{
    position: relative;
    top: 3.8em;
    opacity: 40%;
}

/* Top Header */

#top{
    width: 100vw;
    height: 5em;
    background-color: royalblue;
    border-bottom: solid 10px orange;
}

#tit{
    position: absolute;
    padding-top: 10px;
    padding-left: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

#est1, #est2, #est3, #est4, #nyest1, #nyest2, #nyest3, #nyest4{
    border-radius: 9px;
}

#est1:hover, #est2:hover, #est3:hover, #est4:hover, #nyest1:hover, #nyest2:hover, #nyest3:hover, #nyest4:hover{
    background-color: darkorange;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

a > #CP{
    position: absolute;
    left: 22px;
    top: 12px
}

a > #SP{
    position: absolute;
    left: 29px;
    top: 12px;
}

a > #TP{
    position: absolute;
    left: 19px;
    top: 12px;
}

a > #AP{
    position: absolute;
    left: 29px;
    top: 12px;
}

#est1{
    position: absolute;
    top: 50px;
    left: 20%;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}
#est2{
    position: absolute;
    top: 50px;
    left: 40%;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}
#est3{
    position: absolute;
    top: 50px;
    left: 60%;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}
#est4{
    position: absolute;
    top: 50px;
    left: 80%;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

#triangel{
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-top: 30px solid royalblue;
    margin-top: 80px;
}

/* Extra Header */

#nytop{
    display: none;
}

.Extra{
    position: fixed;
    top: -90px;
    width: 30em;
    height: 7em;
    background-color: royalblue;
    border-bottom: solid 10px orange;
    border-right: solid 10px orange;
    border-bottom-right-radius: 9px;
    transition: 1s;
    z-index: 50;
}

.Extra:hover{
    top: 0;
}

.Extra:hover > #nyest1, .Extra:hover > #nyest2, .Extra:hover > #nyest3, .Extra:hover > #nyest4{
    top: 80px;
}

#nyest1{
    position: fixed;
    top: -10px;
    left: 10px;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

#nyest2{
    position: fixed;
    top: -10px;
    left: 120px;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}
 
#nyest3{
    position: fixed;
    top: -10px;
    left: 230px;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

#nyest4{
    position: fixed;
    top: -10px;
    left: 340px;
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

a:link{
    text-decoration: none;
    color: blue;
}

a:visited{
    text-decoration: none;
    color: blue;
}

h3{
    color: black;
}

::-webkit-scrollbar {max-width: 0%; width: 0%;}
