#TB{
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: whitesmoke;
    height: 10em;
    width: 100ww;
    border-radius: 2px;
    border-style: solid;
    border-color: orange;
    background-image: url();
    background-size: cover;
}

#text{
    font-size: 10em;
    padding-left: 0.5em;
}

body{
    background-image: url(../img/backtra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

