#TB{
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: rgb(255,165,0,0.9);
    height: 80em;
    width: 100ww;
    border-radius: 9px;
    border: solid 6px;
    border-color: royalblue;
    background-image: url();
    background-size: cover;
}

#text{
    font-size: 8em;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
    opacity: 100%;
}

body{
    background-image: url(../img/backtra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 
När man drar musen över en bild kommer det upp en färglad ruta där det står information om bilden samt eventet.
*/

/*
Generella inställningar
*/

.Size{
    background-attachment: fixed;
    display: block;
}

a.hide{
    position: relative;
    z-index: 20;
    color: #000;
    text-decoration: none;
}

a.hide:hover{
    z-index: 30;
}

/*
East African arts festival settings
*/

a.hide #spanEAAF.Text-Display{
    display: none;
}

a.hide:hover #spanEAAF.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/* 
Easter Kenya
*/

#spanEas.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanEas.Text-Display{
    display: none;
}

a.hide:hover #spanEas.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/*
Eid al-Fitr
*/

#spanEaF.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanEaF.Text-Display{
    display: none;
}

a.hide:hover #spanEaF.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/*
International Camel Derby and Festival
*/

#spanICDAF.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanICDAF.Text-Display{
    display: none;
}

a.hide:hover #spanICDAF.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/*
Mombasa Carnival
*/

#spanMC.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanMC.Text-Display{
    display: none;
}

a.hide:hover #spanMC.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/*
Jamhuri Day
*/

#spanJD.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanJD.Text-Display{
    display: none;
}

a.hide:hover #spanJD.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/*
Kenyan Christmas
*/

#spanChrist.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanChrist.Text-Display{
    display: none;
}

a.hide:hover #spanChrist.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

/*
New Year
*/

#spanNY.Text-Display{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 100px;
}

a.hide #spanNY.Text-Display{
    display: none;
}

a.hide:hover #spanNY.Text-Display{
    display: block;
    position: fixed;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    width: 20em;
    padding: 10px;
    border: 4px solid royalblue;
    background-color: orange;
    color: black;
    text-align: left;
    border-radius: 5px;
}

img{
    border: solid 2px royalblue;
    border-radius: 5px;
}

#EAAF{
    position: absolute;
    height: auto;
    width: auto;
    left: 4em;
    font-size: 1.5em;
    text-align: center;
}

#Easter{
    position: absolute;
    height: auto;
    width: auto;
    left: 20.3em;
    font-size: 1.5em;
    text-align: center;
}

#EaF{
    position: absolute;
    height: auto;
    width: auto;
    left: 36em;
    font-size: 1.5em;
    text-align: center;
}

#imgEaF{
    height: 194px;
}

#ICDAF{
    position: absolute;
    height: auto;
    width: auto;
    top: 13.8em;
    left: 20em;
    font-size: 1.5em;
    text-align: center;
}

#MC{
    position: absolute;
    height: auto;
    width: auto;
    top: 15em;
    left: 4em;
    font-size: 1.5em;
    text-align: center;
}

#JD{
    position: absolute;
    height: auto;
    width: auto;
    top: 14.8em;
    left: 36em;
    font-size: 1.5em;
    text-align: center;
}

#Christ{
    position: absolute;
    height: auto;
    width: auto;
    top: 30em;
    left: 12em;
    font-size: 1.5em;
    text-align: center;
}

#NY{
    position: absolute;
    height: auto;
    width: auto;
    top: 30em;
    left: 28em;
    font-size: 1.5em;
    text-align: center;
}