#TB{
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: whitesmoke;
    height: 100em;
    width: 100ww;
}

#text{
    
}
#TB{
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: whitesmoke;
    height: 100em;
    width: 100ww;
}

#text{
    
}
